{{#if this.categories}}
  <div class="sidebar-section-link-wrapper colored-categories">
    {{#each this.categories as |category|}}
      <a 
        class="sidebar-section-link colored-category-item"
        href={{category.url}}
        style="border-left: 3px solid #{{category.color}}; {{if category.parent_category_id "margin-left: 1em;"}}"
        {{on "click" (fn this.navigateToCategory category)}}
      >
        <span class="sidebar-section-link-prefix">
          {{d-icon (if category.read "check-square" "folder")}}
        </span>
        <span class="sidebar-section-link-content">
          {{category.name}}
          {{#if category.unreadTotal}}
            <span class="sidebar-section-link-suffix unread">
              {{category.unreadTotal}}
            </span>
          {{/if}}
        </span>
      </a>
    {{/each}}
  </div>
{{/if}} 