{{#each @categories as |category|}}
  <div class="sidebar-section-link-wrapper">
    <div class="category-header">
      <a href={{category.url}} class="sidebar-section-link">
        {{category.name}}
      </a>
      {{#if category.subcategories}}
        <div class="category-toggle-button" {{on "click" (fn this.toggleSubcategories category.id)}}>
          {{#if (this.expandedCategories.has category.id)}}
            {{d-icon "caret-down"}}
          {{else}}
            {{d-icon "caret-right"}}
          {{/if}}
        </div>
      {{/if}}
    </div>

    {{#if category.subcategories}}
      <div class="subcategories subcategories-{{category.id}}">
        {{#each category.subcategories as |subcategory|}}
          <a href={{subcategory.url}} class="sidebar-section-link subcategory-link">
            {{subcategory.name}}
          </a>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/each}} 